<nav class="navbar navbar-light bg-light">
  <i class="fas fa-caret-square-down header-sidenav-icon"
     [ngClass]="sideNavOpen ? 'rotate180deg' : ''"
     (click)="sideNavOpen = !sideNavOpen"
     tooltip="Toggle menu"></i>
  <span class="navbar-brand mb-0 h1">My Recipe Collection</span>
</nav>
<div class="sidenav" [ngClass]="sideNavOpen ? 'sidenav-open' : ''">
  <ul class="list-group list-group-flush">
    <li class="list-group-item"
        *ngFor="let sidenavItem of sidenavItems"
        [ngClass]="sideNavOpen ? '' : 'sidenav-item-hidden'">{{ sidenavItem.name }}</li>
  </ul>
</div>
